p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #2b2b2b;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
  color: #2b2b2b;
}

h1 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.688rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

ul {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  padding: 0;
}

.normal-header {
  font-weight: normal;
}

.vertical-middle {
  vertical-align: middle;
}

.sale {
  color: #ff2323;
  font-weight: bold;
}

.links {
  font-style: italic;
  color: #68c46f;
  cursor: pointer;
}

.no-margins {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.current {
  font-weight: 600;
}

.currentpage {
  background: #0c326a;
  color: #ffffff;
  outline: solid 1px #0c326a;
}

body {
  display: grid;
  gap: 0;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  min-height: 100vh;
}

header {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.headerflexbox {
  display: flex;
  background: #ffffff;
  margin-left: 141px;
  padding-right: 0px;
  margin-right: 0px;
  height: 65px;
  box-shadow: 0px 2px 6px #00000045;
  align-items: center;
  /*outline: solid red;*/
}

#hamburger-menu {
  display: none;
}

.hamburger {
  display: none;
}

.fa-bars {
  color: #2b2b2b;
  font-size: 50px;
  padding: 1.5rem;
  /*outline: solid rgb(0, 255, 42);*/
}

nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 65px;
  /*outline: solid rgb(0, 255, 98);*/
  flex: 8;
}

nav ul {
  /*outline: solid rgb(4, 248, 207);*/
  font-size: 1.125rem;
  flex: 1;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  cursor: pointer;
  /*outline: solid rgb(234, 0, 255);*/
}

nav li:hover {
  background: #0c326a;
  box-shadow: inset 0px 2px 6px #00000029;
  outline: solid 1px #0c326a;
}

nav li:hover a {
  color: #ffffff;
  text-shadow: 0px 2px 6px #00000029;
}

nav a {
  display: block;
  padding: 21px 48px 21px 48px;
  font-family: "Rubik", sans-serif;
  color: #2b2b2b;
  /*outline: solid red;*/
}

.nav-icons-rightside {
  color: #2b2b2b;
  font-size: 27px;
  padding-right: 88px;
  padding-left: 27px;
  /*outline: solid red;*/
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flaticon-avatar,
.flaticon-shopping-cart {
  padding: 10px;
}

.flaticon-avatar:hover,
.flaticon-shopping-cart:hover {
  cursor: pointer;
}

.searchbox-whole {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  height: 31px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.16);
  /*outline: solid rgb(0, 255, 0);*/
  position: relative;
  flex: 3;
}

.searchbox-input {
  padding-left: 20px;
  background: none;
  border: none;
  height: 31px;
  /* outline: solid red;*/
  flex: 9;
}

.flaticon-search {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-right: 10px;
  cursor: pointer;
  color: rgba(43, 43, 43, 0.7);
}

input.searchbox-input:focus {
  outline: none;
}

.home-box {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 65px;
  width: 140px;
  background: #0c326a;
  box-shadow: 0px 2px 6px #00000029;
  /*outline: solid red;*/
}

.rainydayslogo {
  max-width: 7rem;
  height: auto;
  margin: 0%;
  padding: 0%;
}

/* ////////////// HOMEPAGE CONTENT START//////////////////// */

main {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  row-gap: 8.75rem;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  /* background: orange; */
  margin: 8.75rem;
}

.homepage-images {
  width: 100%;
  height: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.homepage-content1-part1ofx {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  /*outline: solid rgb(234, 0, 255);*/
  background: #ebebeb;
}

.homepage-content1-part1ofx a,
.homepage-content2-part1ofx a {
  margin-top: 3rem;
  align-self: flex-start;
  /* outline: solid rgb(255, 81, 0); */
}

.homepage-content1-part2ofx {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-block;
  flex: 6;
  /* outline: solid rgb(0, 255, 115); */
}

.homepage-content1-part3ofx {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  /* outline: solid rgb(255, 102, 0); */
}

.homepage-content1-part3ofx:nth-child(n) {
  margin-top: -8.75rem;
}

.homepage-content2-part1ofx {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #ebebeb;
  /* outline: solid rgb(255, 102, 0); */
}

.homepage-content2-part2ofx {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.homepage-content3-part1ofx {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 6;
}

.homepage-content3-part2ofx {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 6;
}

.productblock-picture {
  flex: 1;
  outline: solid rgb(43, 43, 43, 0.16);
  background: #ebebeb;
}

.productblock-picture:hover {
  outline: solid #0c326a;
  cursor: pointer;
}

.productblock-picture img {
  max-width: 100%;
  height: auto;
}

.homepage-content3-part2ofx:nth-child(n) {
  margin-top: -8rem;
}

.productblock-title {
  flex: 1;
  padding: 1rem;
  margin-top: 1rem;
}

.productblock-title:hover {
  color: #0c326a;
  cursor: pointer;
}

.productblock-title h3 {
  font-weight: lighter;
}

h3.productblock-price {
  font-weight: bold;
}

.homepage-content3-part3ofx {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* outline: solid rgb(255, 102, 0); */
}

.homepage-content3-part3ofx:nth-child(n) {
  margin-top: -10rem;
}

.homepage-content3-part4ofx {
  display: flex;
  justify-content: center;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 6;
  /* outline: solid rgb(255, 102, 0); */
}

.homepage-content3-part4ofx:nth-child(n) {
  margin-top: -6rem;
}

/* Will have to redo these arrows with symbols to have proper hover functionality */
.arrow {
  align-self: center;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 2.25rem solid transparent;
  border-left: 2.25rem solid transparent;
  border-bottom: 2.25rem solid #0c326a;
  filter: drop-shadow(0px 2px 6px #00000045);
}

.arrow:hover {
  cursor: pointer;
  border-bottom: 2.25rem solid #ffffff;
}

.left {
  transform: rotate(-90deg);
}

.right {
  transform: rotate(90deg);
}

.homepage-content4-part1ofx {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
  display: inline-block;
}

.homepage-content4-part2ofx {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
}

.homepage-content4-part2ofx:nth-child(n) {
  margin-left: 2rem;
}

.homepage-content4-part3ofx {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

.homepage-content4-part3ofx:nth-child(n) {
  margin-left: 2rem;
  margin-top: -8.75rem;
}

.homepage-content5-part1ofx {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
  /*outline: solid red;*/
}

.homepage-content5-part2ofx {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
  /*outline: solid red;*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.homepage-content5-part3ofx {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 11;
  /*outline: solid red;*/
}

.homepage-content5-part1ofx:nth-child(n),
.homepage-content5-part2ofx:nth-child(n) {
  margin-right: 2rem;
}

.homepage-content5-part2ofx:nth-child(n) {
  margin-top: -10rem;
}

/* ////////////// HOMEPAGE CONTENT END/////////////////////////// */

/*/////////////////////  ABOUT US CONTENT START  ///////////////////////*/

#aboutus-main {
  gap: 0px;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.aboutus-images {
  width: 100%;
  height: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.aboutblock1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  /*outline: solid rgb(53, 4, 54);*/
}

.aboutblock1 p {
  display: inline-block;
}

.aboutblock2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  /*outline: solid rgb(255, 0, 170);*/
}

.aboutblock3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  /*outline: solid rgb(208, 255, 0);*/
}

.aboutblock4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  /*outline: solid rgb(0, 255, 157);*/
}

.aboutblock5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  background: #ebebeb;
  padding: 1rem;
  /*outline: solid rgb(0, 47, 255);*/
}

/*/////////////////////  ABOUT US CONTENT END  ///////////////////////*/

/*/////////////////////  CONTACT US CONTENT START  ///////////////////////*/

#contactus-main {
  gap: 0px;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

#contactus-main h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: -0.5rem;
}

.contactblock1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contactblock1 p {
  display: inline-block;
}

.contactblock2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.contactblock3 {
  margin-top: 5rem;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #ebebeb;
  justify-content: center;
}

.contactsection1,
.contactsection2 {
  display: inline-block;
  max-width: 20rem;
  /*outline: solid red;*/
  margin: 2rem;
}

.contactsection1 a {
  font-weight: bold;
}

.openhoursblock p {
  margin: 0px;
}

/*/////////////////////  CONTACT US CONTENT END  ///////////////////////*/

/*/////////////////////  PRODUCTS-MEN CONTENT START  ///////////////////////*/

#productsmen-main {
  grid-template-columns: 1fr auto auto auto auto;
  gap: 0;
  margin-top: 5rem;
  margin-bottom: 10rem;
  /*outline: solid rgb(25, 0, 255);*/
}

#productsmen-main h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.productsmen-contentblock1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.productsmen-contentblock1 p {
  display: inline-block;
}

.productsmen-contentblock2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.productsmen-contentblock3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  /*outline: solid red;*/
}

#sortboxwrapper {
  align-self: flex-end;
}

.sortbybox {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #2b2b2b;
  height: 31px;
  width: 150px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.16);
  padding-left: 1rem;
  /*outline: solid rgb(30, 255, 0);*/
}

.productsmen-contentblock4 {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 10;
  /*outline: solid rgb(143, 60, 60);*/
  margin-right: 2rem;
}

.productsmen-contentblock4 section {
  width: 100%;
  padding-right: 8rem;
  /*outline: solid rgb(183, 0, 255);*/
}

.productsmen-contentblock4 section h2 {
  margin-top: 0px;
}

.productsmen-contentblock4 section p {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #2b2b2b;
  margin-top: 0px;
  margin-bottom: 4px;
}

.productsmen-contentblock4-section2,
.productsmen-contentblock4-section3 {
  margin-top: 2.25rem;
  /*outline: solid rgb(183, 0, 255);*/
}

.productsmen-contentblock4-section2-wrapper1 {
  display: inline-block;
}

.productsmen-contentblock4-section2-wrapper2 {
  display: inline-block;
  font-weight: lighter;
  color: #2b2b2b80;
  margin-left: 3rem;
  padding: 0px;
  line-height: 17px;
}

.size-checkbox-square {
  margin-right: 1rem;
}

.size-checkbox-label {
  font-family: "Rubik", sans-serif;
  color: #2b2b2b;
  font-weight: normal;
}

.productsmen-contentblock5 {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  /*outline: solid rgb(143, 60, 60);*/
}

.productsmen-contentblock6 {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-top: 2.25rem;
  /*outline: solid rgb(143, 60, 60);*/
}

.productsmen-contentblock7 {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 10;
  margin-top: 2.25rem;
  /*outline: solid rgb(143, 60, 60);*/
}

.productsmen-contentblock8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 12;
  margin-top: 5.5rem;
  /*outline: solid rgb(0, 89, 255);*/
}

.page-number-button {
  align-self: center;
  padding: 1rem;
  margin: 0.25rem;
  color: #2b2b2b;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 2px 6px #00000045;
}

.pagen-number-button-selected,
.page-number-button:hover {
  background: #0c326a;
  color: #ffffff;
}

.productsmen-contentformobile1 {
  display: none;
}

/*/////////////////////  PRODUCTS-MEN CONTENT END  ///////////////////////*/

/*/////////////////////  PRODUCT SPECIFIC PAGE CONTENT START  ///////////////////////*/

#productspecific-main {
  grid-template-columns: auto auto auto auto auto;
  gap: 0px;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.productspecificpage-contentblock1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.productspecificpage-contentblock1 p {
  display: inline-block;
}

.productspecificpage-contentblock2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.productspecificpage-section1 {
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  padding: 2rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.productspecificpage-section1-wrapper1,
.productspecificpage-section1-wrapper2,
.productspecificpage-section1-block1,
.productspecificpage-section1-block2,
.productspecificpage-section1-block7 {
  align-self: center;
}

.productspecificpage-section1-block4,
.productspecificpage-section1-block6,
.productspecificpage-section1-block7 {
  display: flex;
  flex-direction: row;
}

.productspecificpage-section1-block7 {
  margin-top: 3rem;
}

.productspecificpage-section2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.productspecificpage-section3 {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

.productspecificpage-section3-pictures {
  margin: 2px;
}

.productspecificpage-section3-pictures:hover {
  cursor: pointer;
  outline: solid #0c326a;
}

.productspecificpage-section3-pictures img {
  max-width: 100%;
  height: auto;
}

.productspecificpage-section4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  background: #ebebeb;
  padding: 1rem;
  margin-top: 2.25rem;
  /*outline: solid rgb(0, 89, 255);*/
}

.productspecificpage-section5 {
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  margin-left: 2.25rem;
  margin-top: 2.25rem;
  padding: 1rem;
}

.productspecificpage-section5-imagewrapper {
  align-self: center;
}

.productspecificpage-section5-imagewrapper img {
  max-width: 100%;
  height: auto;
}

.productspecificpage-section6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  padding: 1rem;
}

.productspecificpage-section7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  padding: 1rem;
  margin-top: 2.25rem;
  margin-left: 2.25rem;
}

.productspecificpage-section6-block {
  display: flex;
}

.productspecificpage-section6-block-section1,
.productspecificpage-section6-block-section2 {
  margin-right: 1rem;
}

.productspecificpage-section6-block-section1 p,
.productspecificpage-section6-block-section2 p {
  margin: 0px;
}

.productspecificpage-section6-block-section2 p {
  font-weight: bold;
}

.productspecificpage-button {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 2px 6px #00000045;
  background: #ffffff;
  cursor: pointer;
}

.productspecificpage-button-selected,
.productspecificpage-button:hover,
.productspecificpage-button:hover a {
  color: #ffffff;
  background: #0c326a;
}

.productcolorsquare {
  box-shadow: 0px 2px 6px #00000045;
  margin: 0.5rem;
  cursor: pointer;
  /*outline: solid rgb(0, 89, 255);*/
}

.productcolorsquare-selected,
.productcolorsquare:hover {
  outline: solid #0c326a;
  outline-width: 4px;
}

#productcolor1 {
  background: #b26f28;
  height: 2.5rem;
  width: 2.5rem;
}

#productcolor2 {
  background: #00f6ff;
  height: 2.5rem;
  width: 2.5rem;
}

#productcolor3 {
  background: #ff00c4;
  height: 2.5rem;
  width: 2.5rem;
}

#productcolor4 {
  background: #fff700;
  height: 2.5rem;
  width: 2.5rem;
}

/*/////////////////////  PRODUCT SPECIFIC PAGE CONTENT END  ///////////////////////*/

/*/////////////////         CHECKOUT PAGE CONTENT START //////////////////*/

#checkout-header {
  height: 65px;
  gap: 0px;
  grid-row-start: auto;
  grid-row-end: auto;
}

#checkout-main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  grid-row-start: auto;
  grid-row-end: auto;
}

.checkoutblock1 {
  display: none;
}

.checkout-section1 {
  grid-column-start: 4;
  grid-row-end: 4;
  grid-row-start: 1;
}

.checkout-section2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.checkout-section3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.checkout-section4 {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}

.checkout-section5 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  grid-column-start: 2;
  grid-column-end: 4;
}

.checkout-product-light-title {
  font-weight: lighter;
}

.checkout-section1-wrapper1 {
  display: flex;
  flex-direction: column;
  /* outline: solid red; */
}

.checkout-section1-wrapper2 {
  align-self: auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* outline: solid rgb(0, 195, 255); */
}

.checkout-section1-wrapper2 p {
  margin: 0rem;
}

.checkout-section1-wrapper2 h3 {
  margin-bottom: 0.5rem;
}

.checkout-section1-producttitle,
.checkout-section1-wrapper3 {
  background: #ebebeb;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

/*//////////////////////////  CHECKOUT LABEL AND INPUT STUFF ///////////////////////////////*/

.checkout-selections-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #ebebeb;
  padding: 1rem;
}

.checkout-selections {
  margin: 1rem;
}

.checkout-labels {
  display: block;
  color: #2b2b2b;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.2rem;
}

.checkout-inputs {
  background: white;
  height: 1.5rem;
  border: 1px solid #2b2b2b3d;
}

.checkout-inputs:focus {
  outline: 2px solid #0c326a;
}

.checkout-delivery {
  height: 1.5rem;
  width: 379px;
  background: #ebebebbb;
  border: 1px solid #2b2b2b3d;
}

.checkout-estimatedtime p {
  font-size: 0.75rem;
}

.checkout-acceptedpayments p {
  font-size: 0.75rem;
}
/*//////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////         CHECKOUT PAGE CONTENT END //////////////////*/

/*/////////////////         CHECKOUT SUCCESS CONTENT START //////////////////*/

#checkoutsuccess-main {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
  /* outline: solid rgb(251, 255, 0); */
  background: #ebebeb;
}

.checkoutsuccess-image1 {
  background-image: url(/images/confetti.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10%;
  right: 15%;
  height: 367px;
  width: 353px;
}

.checkoutsuccess-image2 {
  background-image: url(/images/confetti.png);
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(-90deg);
  top: 10%;
  left: 15%;
  height: 367px;
  width: 353px;
}

.checkoutsucces-section1-wrapper1 {
  display: flex;
  flex-direction: column;
  /* outline: solid red; */
}

.checkoutsucces-content {
  align-self: center;
  padding: 1rem;
}

.checkoutsucces-content p {
  margin: -1rem;
}

/*/////////////////         CHECKOUT SUCCESS CONTENT END //////////////////*/
.cta-button {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
  color: #ffffff;
  background: #68c46f;
  box-shadow: 0px 2px 6px #00000045;
  border-radius: 0.563rem;
  padding-top: 0.813rem;
  padding-bottom: 0.813rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.cta-button:hover {
  color: #0c326a;
}

footer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b2b2b;
  height: 400px;
  /* outline: solid red; */
}

footer p {
  padding: 0px;
  margin: 4px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}

footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 4px;
  color: #ffffff;
}

footer h4 {
  font-weight: 500;
  color: #ffffff;
}

.footerblock {
  margin-top: 40px;
  flex: 1;
  display: inline-block;
  text-align: center;
  /* outline: solid rgb(255, 0, 242); */
}

.footersection1,
.footersection2,
.footersection3 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /* outline: solid rgb(0, 255, 157); */
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

.footerlogo {
  content: url(/images/rainydayslogo.png);
  max-width: 6rem;
  height: auto;
  /* outline: solid rgb(0, 255, 42); */
  margin-bottom: 50px;
}

#construction404 {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 1700px) {
  .checkoutsuccess-image1,
  .checkoutsuccess-image2 {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  nav a {
    padding: 21px 40px 21px 40px;
  }

  .checkoutsuccess-image1,
  .checkoutsuccess-image2 {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  nav a {
    padding: 21px 35px 21px 35px;
  }

  .nav-icons-rightside {
    padding-right: 58px;
  }

  .checkoutsuccess-image1,
  .checkoutsuccess-image2 {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 1300px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .home-box {
    position: absolute;
    margin-top: 1rem;
    height: 98px;
    background: #0c326a;
  }
  .headerflexbox {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 2px 6px #00000045;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-top: 1rem;
    margin-right: 0px;
    padding: 0px;
    justify-content: flex-end;
    /*outline: solid rgb(0, 255, 42);*/
  }
  #hamburger-menu:checked ~ .headerflexbox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 1rem;
  }

  /*///////////////////////////////////*/

  nav {
    height: auto;
    width: 100%;
  }

  nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*outline: solid rgb(248, 4, 146);*/
  }

  nav li {
    display: block;
    margin: 0px;
    /*outline: solid rgb(4, 248, 207);*/
  }

  /*///////////////////////////////////*/

  .searchbox-whole {
    width: 80%;
    flex: 3;
    margin-top: 5rem;
  }

  .nav-icons-rightside {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    /*outline: solid rgb(4, 248, 207);*/
    padding: 0px;
    margin: 0px;
  }

  .flaticon-avatar,
  .flaticon-shopping-cart {
    padding: 10px;
    margin-top: 2rem;
    /*outline: solid rgb(248, 4, 155);*/
  }

  /*///////////////////////////////////*/

  main {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .hidden {
    display: none;
  }

  .homepage-content3-part1ofx:nth-child(n) {
    margin-top: -8.75rem;
  }

  .homepage-content4-part2ofx {
    margin-top: -7rem;
  }

  .homepage-content4-part3ofx:nth-child(n),
  .homepage-content4-part2ofx:nth-child(n) {
    margin-left: 0px;
    margin-right: 0px;
  }

  /*/////////////    CONTACT US PAGE START (mobile)    //////////////////////*/

  .contactblock3 {
    flex-direction: column;
  }

  .contactsection1,
  .contactsection2 {
    align-self: center;
  }

  /*/////////////    CONTACT US PAGE END  (mobile)   //////////////////////*/

  /*/////////////    PRODUCTS PAGE MEN START  (mobile)   //////////////////////*/

  #sortboxwrapper {
    align-self: normal;
  }

  .productsmen-contentblock4 section {
    justify-content: center;
    padding-right: 0;
    /*outline: solid rgb(183, 0, 255);*/
  }

  .productsmen-contentformobile1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /*outline: solid rgb(183, 0, 255);*/
  }

  /*/////////////    PRODUCTS PAGE MEN END  (mobile)   //////////////////////*/

  /*/////////////    PRODUCT SPECIFIC PAGE START (mobile)   //////////////////////*/
  .productspecificpage-section2 img {
    max-width: 100%;
    height: auto;
  }

  .productspecificpage-section7,
  .productspecificpage-section5 {
    margin-left: 0px;
  }

  /*/////////////    PRODUCT SPECIFIC PAGE END (mobile)   //////////////////////*/

  .checkoutsuccess-image1,
  .checkoutsuccess-image2 {
    display: none;
  }

  footer {
    height: auto;
  }

  .footerblock {
    display: block;
    margin: 0px;
  }

  .footersection1,
  .footersection2,
  .footersection3 {
    display: block;
    margin: 5rem;
    padding: 0px;
  }

  .footerlogo {
    display: none;
  }

  .construction405 {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
