h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  justify-content: middle;
  width: 1920px;
  height: 65px;
  background: red;
}

main {
  height: 2000px;
}

.nav-icons {
  display: inline-block;
  color: #2b2b2b;
  font-size: 27px;
  padding-right: 108px;
  padding-left: 27px;
  height: 100%;
}

.searchbox-input {
  margin-right: auto;
  padding-left: 20px;
  background: none;
  border: none;
  height: 31px;
  width: 422px;
}

.flaticon-search {
  margin-left: auto;
  color: #2b2b2b;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 5px;
  font-size: 23px;
}

.searchbox-whole {
  display: flex;
  align-items: center;
  height: 31px;
  width: 422px;
  border-radius: 4px;
  background: rgba(43, 43, 43, 0.16);
}

input.searchbox-input:focus {
  outline: none;
}

nav li {
  display: inline;
}

nav a {
  padding-left: 48px;
  padding-right: 48px;
}

.logo-home {
  position: fixed;
}
